@font-face {
    font-family: "gilroy";
    src: url("/src/assets/fonts/gilroy.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "gilroythin";
    src: url("/src/assets/fonts/Gilroy-Thin.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.home{
    display: flex;
    flex-direction: column;
    background-color: #F2EFF0;
    height: 100vh;
    padding-left:0.5em ;
    padding-right:0.5em ;
}
.home-top{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    padding-top: 2em;

}
.home-t{
    font-family: "gilroy";
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0;
    max-width: 220px;
    color: #36366c;
}
.home-profile-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0;
}





.home-workouts-container {
    width: 100%;
    height: 350px; /* Ajuste en fonction de la hauteur de tes workouts */
    overflow-y: auto;
    scrollbar-width: none; /* Cache la scrollbar sur Firefox */
    -ms-overflow-style: none; /* Cache la scrollbar sur Edge */
    scroll-snap-type: y mandatory; /* Snap scrolling vertical */
}

.home-workouts-container::-webkit-scrollbar {
    display: none; /* Cache la scrollbar sur Chrome/Safari */
}

.home-workouts {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.workout-container {
    width: 90%; /* Ajuste la largeur */
    flex-shrink: 0;
    height: 160px; /* Hauteur du workout */
    scroll-snap-align: start; /* S'arrête à chaque élément */
}
